.top_header {
    background-image: linear-gradient(147deg, #158bf2, #1d9edf, #3d8fd6, transparent);
}

.nav-item:hover {background: #79050b;border-radius: 5px;}

li{
    list-style: none;
}
.custom_bg{
    background-color:#f1eaf1;
}

td.columnStyleTop {
    text-align: center;
    font-size: 22px;
    padding-bottom: 17px;
}