<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IU School & College</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <!-- Header Start -->
    <header>
        <!-- Header top -->
        <section id="header_top" class="theme_bg py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ms-auto">
                        <div class="">
                            <marquee id="scroll_news" direction="left" ;="">
                                <div onmouseover="document.getElementById('scroll_news').stop();"
                                    onmouseout="document.getElementById('scroll_news').start();">
                                    <a href="https://iu.ac.bd/index.php/site/notice/Mg==">২০২০-২০২১ শিক্ষাবর্ষে A, B এবং
                                        C ইউনিটে ১ম বর্ষ স্নাতক (সম্মান) [ইঞ্জিনিয়ারিং/ফার্মসহ অন্যান্য বিভাগ] শ্রেণীতে
                                        ছাত্র-ছাত্রী ভর্তির বিজ্ঞপ্তি প্রকাশিত

                                    </a>
                                </div>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Navbar -->

        <nav id="myHeader" class="navbar navbar-expand-lg mainmenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img height="70px" src="https://www.iu.ac.bd/public/images/logo2.png" alt="">
                    <h2 class="text-white site_title">Islamic University</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item ">
                            <a class="text-light px-3 nav-link active" aria-current="page" href="">প্রচ্ছদ</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-light px-3 nav-link " aria-current="page" href="/teacher">জনবল</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="text-light px-3 nav-link dropdown-toggle" href="javascript:voil(0)"
                                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                শিক্ষার্থীদের তথ্য
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/student_at_a_glance">অধ্যয়নরত
                                        শিক্ষার্থীর সংখ্যা</a></li>
                                <li><a class="dropdown-item" href="/student_list">অধ্যয়নরত
                                        শিক্ষার্থীর তালিকা</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="text-light px-3 nav-link" aria-current="page" href="/routine">রুটিন</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="text-light px-3 nav-link dropdown-toggle" href="javascript:voil(0)"
                                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ফলাফল
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/public_result">পাবলিক পরীক্ষার
                                        ফলাফল</a></li>
                                <li><a class="dropdown-item" href="/result">বিদ্যালয়ের অভ্যন্তরীণ
                                        পরীক্ষার ফলাফল</a></li>
                                <li><a class="dropdown-item" href="/weakly_result">সাপ্তাহিক পরীক্ষার
                                        ফলাফল</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="text-light px-3 nav-link " aria-current="page" href="/notice">নোটিশ</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-light px-3 nav-link " aria-current="page" href="/contact-us">যোগাযোগ</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-light px-3 nav-link " aria-current="page" href="/teacher/login">লগইন</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->

    <!-- Main Start -->
    <!-- Banner -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner slider_bg_color">
            <div class="carousel-item active">
                <img height="600" src="https://www.iu.ac.bd/public/images/banner_images/Bangabundhu_mural2.jpg"
                    class="overlay d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img height="600" src="https://www.iu.ac.bd/public/images/banner_images/University_Auditorium2.jpg"
                    class="overlay d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img height="600" src="https://www.iu.ac.bd/public/images/banner_images/Administrative_Building2.jpg"
                    class="overlay d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- VC Profile -->
    <section id="vc_area">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-4">
                    <div class="vc_profile text-center">
                        <h5 class="mb-3">Vice Chancellor's profile</h5>
                        <img width="300px" height="300px"
                            src="https://www.iu.ac.bd/public/images/message/dd7d898287506d05d7b6272e3c21215c.jpg"
                            alt="">
                        <p class="mt-3"><small>Professor Dr. Shaikh Abdus Salam</small></p>
                        <p class="text_justify mt-3">Professor Dr. Shaikh Abdus Salam, the 13th Vice Chancellor of the
                            Islamic University, Bangladesh, is a well-known academic with national and international
                            repute. Dr. Salam was a selection-grade... <a
                                href="https://iu.ac.bd/index.php/pages/view_1/NTA=/MTky">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="vc_speech">
                        <h5>Islamic University Bangladesh: A profile</h5>
                        <p class="mt-4"><small>Islamic University is ranked as one of the top public universities in
                                Bangladesh as well as the largest seat of higher education in the south-western part of
                                the country. Situated 24 kilometers south of Kushtia and 22 kilometers north of Jhenidah
                                district-town, the university is by-passed by Khulna-Kushtia National Highway which
                                provides its lifeline of connectivity with the rest of the country. The passing of the
                                Islamic University Act in 1980 conferred this institution the permanent prestige of
                                being the first university established after the independence of Bangladesh, reflecting
                                the hope and aspiration of the new nation striving to be on par with other international
                                players through the promotion of science, business, humanities, and interfaith...
                                <a href="" class="btn my-3 theme_button">Discover More</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA Area -->
    <section id="cta" class="mt-5">
        <div class="cta_bg fun-factor-area default-padding text-center bg-fixed shadow dark-hard">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="fun_fact my-3">
                            <div class="icon">
                                <i class="fa-solid fa-award"></i>
                            </div>
                            <div class="info">
                                <span class="timer theme_color" data-to="1921" data-speed="5000">43</span>
                                <span class="medium">Years </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="fun_fact my-3">
                            <div class="icon">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </div>
                            <div class="info">
                                <span class="timer theme_color" data-to="1921" data-speed="5000">1600</span>
                                <span class="medium">Students </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="fun_fact my-3">
                            <div class="icon">
                                <i class="fa-solid fa-building-columns"></i>
                            </div>
                            <div class="info">
                                <span class="timer theme_color" data-to="1921" data-speed="5000">20</span>
                                <span class="medium">Building </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="fun_fact my-3">
                            <div class="icon">
                                <i class="fa-solid fa-book-open"></i>
                            </div>
                            <div class="info">
                                <span class="timer theme_color" data-to="1921" data-speed="5000">43</span>
                                <span class="medium">Years </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Notice and News -->
    <section id="notice_news">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center">
                        <h2 class="btn my-2 theme_button text-capitalize mx-auto section_title"><i
                                class="fas fa-calendar-alt"></i> News & Events</h2>
                    </div>
                    <div class="row pt-4">
                        <div class="">
                            <div class="events theme_shadow overflow-scroll border-1 border-top-0 px-4 "
                                style="height: 540px;">
                                <div class="event rounded-3 bg-white mb-4 py-4 border-bottom">
                                    <div class="info w-100 ps-2 d-flex justify-content-center">
                                        <span class="">
                                            <b style="font-size:28px;">08</b>
                                            <br>
                                            Mar 22
                                        </span>
                                        <div class="ms-3">
                                            <h6 class="text-justify fw-bold"> <a class="theme_color" href=""
                                                    target="_blank">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক প্রতিপাদ্য
                                                    নির্ধারণ
                                                    সংক্রান্ত বিজ্ঞপ্তি</a>
                                            </h6>
                                            <ul>
                                                <li class="text-muted">
                                                    <small>
                                                        Published: 15 Mar, 2022</small>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn theme_button">Read
                                                        More <i class="fa-solid fa-arrow-right-long"></i> </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="event rounded-3 bg-white mb-4 py-4 border-bottom">
                                    <div class="info w-100 ps-2 d-flex justify-content-center">
                                        <span class="">
                                            <b style="font-size:28px;">08</b>
                                            <br>
                                            Mar 22
                                        </span>
                                        <div class="ms-3">
                                            <h6 class="text-justify fw-bold"> <a class="theme_color" href=""
                                                    target="_blank">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক প্রতিপাদ্য
                                                    নির্ধারণ
                                                    সংক্রান্ত বিজ্ঞপ্তি</a>
                                            </h6>
                                            <ul>
                                                <li class="text-muted">
                                                    <small>
                                                        Published: 15 Mar, 2022</small>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn theme_button">Read
                                                        More <i class="fa-solid fa-arrow-right-long"></i> </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="event rounded-3 bg-white mb-4 py-4 border-bottom">
                                    <div class="info w-100 ps-2 d-flex justify-content-center">
                                        <span class="">
                                            <b style="font-size:28px;">08</b>
                                            <br>
                                            Mar 22
                                        </span>
                                        <div class="ms-3">
                                            <h6 class="text-justify fw-bold"> <a class="theme_color" href=""
                                                    target="_blank">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক প্রতিপাদ্য
                                                    নির্ধারণ
                                                    সংক্রান্ত বিজ্ঞপ্তি</a>
                                            </h6>
                                            <ul>
                                                <li class="text-muted">
                                                    <small>
                                                        Published: 15 Mar, 2022</small>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn theme_button">Read
                                                        More <i class="fa-solid fa-arrow-right-long"></i> </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center mt-4">
                                <a href="" class="btn theme_button text-capitalize mx-auto">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <h2 class="btn my-2 theme_button text-capitalize mx-auto section_title"><i
                                class="fa-solid fa-clipboard"></i> Notices</h2>
                    </div>
                    <div class="row pt-4">
                        <div class="">
                            <div class="events theme_shadow overflow-scroll border-1 border-top-0 px-4 "
                                style="height: 540px;">
                                <div class="event rounded-3 bg-white mb-4 py-4 border-bottom">
                                    <div class="info w-100 ps-2 d-flex justify-content-center">
                                        <span class="">
                                            <b style="font-size:28px;">08</b>
                                            <br>
                                            Mar 22
                                        </span>
                                        <div class="ms-3">
                                            <h6 class="text-justify fw-bold"> <a class="theme_color" href=""
                                                    target="_blank">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক প্রতিপাদ্য
                                                    নির্ধারণ
                                                    সংক্রান্ত বিজ্ঞপ্তি</a>
                                            </h6>
                                            <ul>
                                                <li class="text-muted">
                                                    <small>
                                                        Published: 15 Mar, 2022</small>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn theme_button">Read
                                                        More <i class="fa-solid fa-arrow-right-long"></i> </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="event rounded-3 bg-white mb-4 py-4 border-bottom">
                                    <div class="info w-100 ps-2 d-flex justify-content-center">
                                        <span class="">
                                            <b style="font-size:28px;">08</b>
                                            <br>
                                            Mar 22
                                        </span>
                                        <div class="ms-3">
                                            <h6 class="text-justify fw-bold"> <a class="theme_color" href=""
                                                    target="_blank">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক প্রতিপাদ্য
                                                    নির্ধারণ
                                                    সংক্রান্ত বিজ্ঞপ্তি</a>
                                            </h6>
                                            <ul>
                                                <li class="text-muted">
                                                    <small>
                                                        Published: 15 Mar, 2022</small>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn theme_button">Read
                                                        More <i class="fa-solid fa-arrow-right-long"></i> </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="event rounded-3 bg-white mb-4 py-4 border-bottom">
                                    <div class="info w-100 ps-2 d-flex justify-content-center">
                                        <span class="">
                                            <b style="font-size:28px;">08</b>
                                            <br>
                                            Mar 22
                                        </span>
                                        <div class="ms-3">
                                            <h6 class="text-justify fw-bold"> <a class="theme_color" href=""
                                                    target="_blank">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার কর্তৃক প্রতিপাদ্য
                                                    নির্ধারণ
                                                    সংক্রান্ত বিজ্ঞপ্তি</a>
                                            </h6>
                                            <ul>
                                                <li class="text-muted">
                                                    <small>
                                                        Published: 15 Mar, 2022</small>
                                                </li>
                                                <li>
                                                    <button type="button" class="btn theme_button">Read
                                                        More <i class="fa-solid fa-arrow-right-long"></i> </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center mt-4">
                                <a href="" class="btn theme_button text-capitalize mx-auto">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Campus News -->
    <section id="news">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-12 text-center section_title">
                    <h2 class="theme_color mb-3">Latest News</h2>
                    <div class="title_border mx-auto"></div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-5">
                <div class="col">
                    <div class="card theme_shadow h-100 overflow-hidden">
                        <img src="https://www.iu.ac.bd/public/images/news/9354df375e61ee6d3b93859a8d7b44d7.jpg"
                            class="card-img-top" alt="...">
                        <div class="card_info pt-4 text-center">
                            <div class="py-3">
                                <small class="theme_color2"><i class=" fas fa-calendar-alt" aria-hidden="true"></i><span
                                        class="date"> 09 Mar, 2022 </span> </small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title theme_color">News title</h5>
                            </div>
                            <div class="">
                                <button type="button" class="btn theme_button">Read More <i
                                        class="fa-solid fa-arrow-right-long"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card theme_shadow h-100 overflow-hidden">
                        <img src="https://www.iu.ac.bd/public/images/news/9354df375e61ee6d3b93859a8d7b44d7.jpg"
                            class="card-img-top" alt="...">
                        <div class="card_info pt-4 text-center">
                            <div class="py-3">
                                <small class="theme_color2"><i class=" fas fa-calendar-alt" aria-hidden="true"></i><span
                                        class="date"> 09 Mar, 2022 </span> </small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title theme_color">News title</h5>
                            </div>
                            <div class="">
                                <button type="button" class="btn theme_button">Read More <i
                                        class="fa-solid fa-arrow-right-long"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card theme_shadow h-100 overflow-hidden">
                        <img src="https://www.iu.ac.bd/public/images/news/9354df375e61ee6d3b93859a8d7b44d7.jpg"
                            class="card-img-top" alt="...">
                        <div class="card_info pt-4 text-center">
                            <div class="py-3">
                                <small class="theme_color2"><i class=" fas fa-calendar-alt" aria-hidden="true"></i><span
                                        class="date"> 09 Mar, 2022 </span> </small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title theme_color">News title</h5>
                            </div>
                            <div class="">
                                <button type="button" class="btn theme_button">Read More <i
                                        class="fa-solid fa-arrow-right-long"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center mb-4">
                <a href="" class="btn theme_button text-capitalize mx-auto">View All News</a>
            </div>
        </div>
    </section>

    <!-- Motto Area -->
    <section id="motto" class="theme_bg">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-12">
                    <h1 class="text-white">Take a Look at Our Campus Life</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Start -->
    <footer class="theme_bg py-3">
        <div class="container-fluid">
            <div class="row text-light text-center">
                <div class="col-lg-4">
                    <p>© All Rights Reserved <a class="text-white" href="https://www.softlabltd.com/">Softlab Inc.</a></p>
                </div>
                <div class="col-lg-4 social_icon">
                    <a class="text-light p-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="text-light p-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="text-light p-2" href=""><i class="fab fa-google-plus-g"></i></a>
                    <a class="text-light p-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="text-light p-2" href=""><i class="fas fa-rss"></i></a>
                </div>
                <div class="col-lg-4">
                    <p>Design &amp; Developed By <a class="text-white" href="https://www.softlabltd.com/">Softlab Inc.</a></p>
                </div>
            </div>
        </div>
        <a class="btn btn-danger" onclick="topFunction()" id="myBtn" title="Back to top" href="#">➤</a>
    </footer>
    <!-- Footer End -->


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/8cffe8c664.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <script src="assets/js/main.js"></script>
</body>

</html>