<html lang="en">

<head>
	<!-- Theme Made By www.w3schools.com - No Copyright -->
	<title>Glory School & College</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="Glory School & College, ">
	<meta name="keywords" content="Glory School & College, GSC, ">
	<meta name="author" content="glorycollege.edu.bd">
	<meta http-equiv="refresh" content="600">
	<meta name="robots" content="all">
	<meta name="rating" content="safe for kids">
	<link rel="canonical" href="http://www.glorycollege.edu.bd">
	<link rel="apple-touch-icon" sizes="180x180" href="media/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="media/icon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="media/icon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="media/icon/manifest.json">
	<link rel="mask-icon" href="media/icon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="css/bootstrap.3.3.7.css">
	<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/home-slider.css">
	<link rel="stylesheet" href="css/slider.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jssor.slider-28.0.0.min.js" type="text/javascript"></script>

	<style>
		/*jssor slider loading skin spin css*/
		.jssorl-009-spin img {
			animation-name: jssorl-009-spin;
			animation-duration: 1.6s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		@keyframes jssorl-009-spin {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(360deg);
			}
		}

		/*jssor slider bullet skin 072 css*/
		.jssorb072 .i {
			position: absolute;
			color: #000;
			font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
			text-align: center;
			cursor: pointer;
			z-index: 0;
		}

		.jssorb072 .i .b {
			fill: #fff;
			opacity: .3;
		}

		.jssorb072 .i:hover {
			opacity: .7;
		}

		.jssorb072 .iav {
			color: #fff;
		}

		.jssorb072 .iav .b {
			fill: #000;
			opacity: .5;
		}

		.jssorb072 .i.idn {
			opacity: .3;
		}

		/*jssor slider arrow skin 073 css*/
		.jssora073 {
			display: block;
			position: absolute;
			cursor: pointer;
		}

		.jssora073 .a {
			fill: #ddd;
			fill-opacity: .7;
			stroke: #000;
			stroke-width: 160;
			stroke-miterlimit: 10;
			stroke-opacity: .7;
		}

		.jssora073:hover {
			opacity: .8;
		}

		.jssora073.jssora073dn {
			opacity: .4;
		}

		.jssora073.jssora073ds {
			opacity: .3;
			pointer-events: none;
		}
	</style>
	<style>
		.breakingNews>.bn-title {
			width: auto;
			height: 32px;
			display: inline-block;
			background: #0C3F06;
			position: relative;
		}

		.bn-turquoise {
			border-color: #0C3F06;
		}

		.breakingNews {
			width: 100%;
			height: 32px;
			background: #FFF;
			position: relative;
			border: solid 2px #0C3F06;
			overflow: hidden;
		}

		.breakingNews>.bn-title>h2 {
			display: inline-block;
			margin: 0;
			padding: 0 10px;
			line-height: 27px;
			font-size: 16px;
			color: #FFF;
			height: 32px;
			box-sizing: border-box;
		}

		.bn-turquoise>.bn-title>span {
			border-left-color: #0C3F06;
		}

		.breakingNews>.bn-title>span {
			width: 0;
			position: absolute;
			right: -10px;
			top: 5px;
			height: 0;
			border-style: solid;
			border-width: 10px 0 10px 10px;
			border-color: transparent transparent transparent #0C3F06;
		}

		.breakingNews>ul {
			padding: 0;
			margin: 0;
			list-style: none;
			position: absolute;
			left: 180px;
			top: 0;
			right: 40px;
			height: 32px;
			font-size: 14px;
		}

		.breakingNews>ul>li {
			position: absolute;
			height: 32px;
			width: 100%;
			line-height: 30px;
			display: none;
		}

		.scroll-notice-link:hover {
			color: red !important;
		}

		.scrolling_title {
			margin-left: -15px;
			color: red;
			margin-top: 6px;
			font-size: 16px !important;
		}

		/* facebook page responsiveness */
		.fb-page,
		.fb-page span,
		.fb-page span iframe[style] {
			width: 100% !important;
		}
	</style>

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>


	<!-- For PopUp -->
	<script type="text/javascript">
		$(document).ready(function () {
			$("#myModal").modal('show');
		});

		$(window).resize(function () {
			if (this.resizeTO) clearTimeout(this.resizeTO);
			this.resizeTO = setTimeout(function () {
				$(this).trigger('resizeEnd');
			}, 500);
		});

		$(window).bind('resizeEnd', function () {
			var url = $('#$WrapperID').data('refresh');
			$('#$WrapperID').fadeOut("slow", function () {
				$('#$WrapperID').load(url, { width: $('#$HTMLID').width() },
					function () {
						FB.XFBML.parse(document.getElementById('$WrapperID'),
							function () {
								$('#$WrapperID').fadeIn("slow");
							});
					})
			});
		});
	</script>
</head>

<body>
	<div id="fb-root"></div>
	<script>(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<!--<img src="media/add/Webp.net-gifmaker.gif" alt="" class="img-responsive">-->
					<img src="media/add/short1.png" alt="" class="img-responsive">
				</div>
			</div>
		</div>
	</div>

	<div class="layer-color font-light">
		<header class="container header-box" style="margin-bottom: -2px !important;">
			<div class="header-banner row clearfix">
				<div class="header-logo">
					<a href="">
						<img src="media/icon/logo.png" class="img-responsive header-logo-img" alt="LOGO">
					</a>
				</div>
				<div class="header-title">
					<h1 class="font-bold">Glory School & College</h1>
					<div class="font-bold header-text">
						Bangla Medium & English Version
						<span class="pull-right" style="margin-right: 15px;"><a href="" class="margin-right-5"
								target="_blank"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a> <a
								href="" class="margin-right-5" target="_blank"><i class="fa fa-youtube"
									aria-hidden="true"></i></a> <a href="" target="_blank"><i class="fa fa-twitter"
									aria-hidden="true"></i></a></span>
					</div>
					<div class="header-subtitle">
						<span>EIIN: 134578 | School Code: 1303 | College Code: 1190</span>
					</div>
					<span class="pull-right" style="margin-right: 15px;"><a href=""><i class="fa fa-map-marker"></i>
							Contact</a> | <a href="" target="_blank"><i class="fa fa-envelope"></i> Webmail </a> | <a
							href=""><i class="fa fa-user-circle-o"></i> Career </a>|
						<a href=""><i class="fa fa-map-marker"></i> Login </a></span>
				</div>
				<div class="clearBoth"></div>
			</div>
		</header>
		<div class="navbar-box">
			<div class="">
				<nav class="navbar">
					<div class="container">
						<div class="navbar-header text-center clearBoth">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href=""><i class="fa fa-home"></i></a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav" style="margin-top: -1px;">
								<li class="dropdown header-menu-dropdown">

									<a class="dropdown-toggle" data-toggle="dropdown" href="">About Glory
									</a>
									<ul id="about" class="dropdown-menu animated slideInRight">
										<li><a href="">Glory At A Glance</a></li>
										<li><a href="">Why Study at Glory</a></li>
										<li><a href="">Features</a></li>
										<li><a href="">History</a></li>
										<li><a href="">Founder</a></li>
										<!-- <li><a href="details?id=22">Founder</a></li> -->
										<li><a href="">Campus Information</a></li>
										<li><a href="">News & Events</a></li>
										<li><a href="">Achievement</a></li>
									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Administration
									</a>
									<ul id="admission" class="dropdown-menu animated slideInRight">
										<li><a href="">Message from Chairman</a></li>
										<li><a href="">Message from Principal</a></li>
										<li><a href="">Governing Body</a></li>
										<li><a href="">Teacher Information</a></li>
										<li><a href="">Staff Information</a></li>
									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Academic
									</a>
									<ul id="academic" class="dropdown-menu animated slideInRight">
										<li><a href="">Teaching Method</a></li>
										<li><a href="">Test Method</a></li>
										<li><a href="">Syllabus</a></li>
										<li><a href="">Book List</a></li>
										<li><a href="">Uniform</a></li>
										<li><a href="">Academic Calander</a></li>
										<li><a href="">Holyday Calendar</a></li>
										<li><a href="">Class Routine</a></li>
										<li><a href="">School Hours</a></li>
										<li><a href="">Exam Routine</a></li>
										<li><a href="">Exam Results</a></li>
										<li><a href="">Notice</a></li>
									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Admission

									</a>
									<ul id="admission" class="dropdown-menu animated slideInRight">
										<li><a href="">Admission Circular</a></li>
										<li><a href="">How To Apply</a></li>
										<li><a href="">Prospectus</a></li>
										<li><a href="">Admission Form</a></li>
										<li><a href="">Admission Result</a></li>
										<li><a href="">School Courses & Programs</a></li>
										<li><a href="">College Courses & Programs</a></li>
										<li><a href="">Fees</a></li>
										<li><a href="">Student Conduct</a></li>
										<li><a href="">Age Limit</a></li>
										<li><a href="">Scholarship</a></li>
									</ul>
								</li>
								<!-- <li class="header-menu-dropdown">
						        		<a class="" href="facilities">Facilities
						        		</a>
						        	</li> -->

								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">Facilities</a>
									<ul class="dropdown-menu animated slideInRight" aria-hidden="true">
										<li><a href="">ICT Club</a></li>
										<li><a href="">Science Club</a></li>
										<li><a href="">Computer Lab</a></li>
										<li><a href="">Rich Library</a></li>
										<li><a href="">Multimedia Class Room</a></li>
										<li><a href=""> AC Classrom</a></li>
										<li><a href="">Indoor Playground</a></li>
										<li><a href="">Modern Facilities</a></li>
										<li><a href="">Others Facilities</a></li>
										<li><a href="">Language Club (English)</a></li>
										<li><a href="">Cultural Club</a></li>
										<li><a href="">Drawing Club</a></li>
										<li><a href="">Music Club</a></li>
										<li><a href="">Science Lab</a></li>
										<li><a href="">Transport</a></li>

									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Digital Content
									</a>
									<ul id="digital_contents" class="dropdown-menu animated slideInRight">
										<!-- <li><a href="program-subjects?programID=1">Play</a></li> -->
										<li><a href="">Play</a></li>
										<!-- <li><a href="program-subjects?programID=2">Nursery</a></li> -->
										<li><a href="">Nursery</a></li>
										<!-- <li><a href="program-subjects?programID=3">KG</a></li> -->
										<li><a href="">KG</a></li>
										<!-- <li><a href="program-subjects?programID=4">One</a></li> -->
										<li><a href="">One</a></li>
										<!-- <li><a href="program-subjects?programID=5">Two</a></li> -->
										<li><a href="">Two</a></li>
										<!-- <li><a href="program-subjects?programID=6">Three</a></li> -->
										<li><a href="">Three</a></li>
										<!-- <li><a href="program-subjects?programID=7">Four</a></li> -->
										<li><a href="">Four</a></li>
										<!-- <li><a href="program-subjects?programID=8">Five</a></li> -->
										<li><a href="">Five</a></li>
										<!-- <li><a href="program-subjects?programID=9">Six</a></li> -->
										<li><a href="">Six</a></li>
										<!-- <li><a href="program-subjects?programID=10">Seven</a></li> -->
										<li><a href="">Seven</a></li>
										<!-- <li><a href="program-subjects?programID=11">Eight</a></li> -->
										<li><a href="">Eight</a></li>
										<!-- <li><a href="program-subjects?programID=12">Nine-Ten</a></li> -->
										<li><a href="">Nine-Ten</a></li>
										<!-- <li><a href="program-subjects?programID=13">Eleven-Twelve</a></li> -->
										<li><a href="">Eleven-Twelve</a></li>
										<!-- <li><a href="program-subjects?programID=14">All -in-One</a></li> -->
										<li><a href="">All -in-One</a></li>
									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Co-Curriculler
									</a>
									<ul id="co-curriculler" class="dropdown-menu animated slideInRight">
										<li><a href="">Sports</a></li>
										<li><a href="">Tours</a></li>
										<li><a href="">Cultural Activities</a></li>
									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Publications
									</a>
									<ul id="publications" class="dropdown-menu animated slideInRight">
										<li><a href="">Magazine</a></li>
									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Gallery
									</a>
									<ul id="gallery" class="dropdown-menu animated slideInRight">
										<li><a href="">Photo Gallery</a></li>
										<li><a href="">Video Gallery</a></li>
									</ul>
								</li>
								<li class="dropdown header-menu-dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="">Club
									</a>
									<ul id="gallery" class="dropdown-menu animated slideInRight">
										<li><a href="">Science Club</a></li>
										<li><a href="">ICT Club</a></li>
										<li><a href="">Debate Club</a></li>
										<li><a href="">Language Club</a></li>
										<li><a href="">Music Club</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>

	<!-- start main content panel -->
	<div class="container main-panel">

		<div class="margin-top-5">
			<div class="col-sm-12">
				<div class="row">
					<div class="breakingNews bn-turquoise" id="bn3">
						<div class="bn-title" style="width: auto;">
							<h2 style="display: inline-block;">Latest Notices : </h2><span></span>
						</div>
						<ul style="left: 160px;">
							<li style="display: block;">
								<h4 class="scrolling_title">
									<marquee behavior="" direction="" onmouseover="this.stop();"
										onmouseout="this.start();">
										<p>
											<strong style="padding:0px 10px;color: green !important; "><a
													style="font-size:85% !important;" href="" target="_blank"
													class="scroll-notice-link"> ২০২১ সালের এসএসসি ও সমমানের পরীক্ষায়
													উত্তীর্ণ ছাত্র/ছাত্রীদের আন্তরিক শুভেচ্ছা ও অভিনন্দন।</a></strong>
											<strong style="padding:0px 10px;color: green !important; "><a
													style="font-size:85% !important;" href="" target="_blank"
													class="scroll-notice-link"> ২০২১-২০২২ শিক্ষাবর্ষে একাদশ শ্রেণিতে
													বিজ্ঞান ও ব্যবসায় শিক্ষা শাখায় ভর্তি চলছে। জি.পি.এ. ৫ প্রাপ্তদের
													ভর্তি ও বেতন ৫০% ছাড়।</a></strong>
											<strong style="padding:0px 10px;color: green !important; "><a
													style="font-size:85% !important;" href="" target="_blank"
													class="scroll-notice-link"> ২০২২ শিক্ষাবর্ষে
													প্লে-গ্রুপ থেকে ৯ম শ্রেণিতে সীমিত আসনে বাংলা মাধ্যম ও ইংলিশ ভার্সনে
													ভর্তি চলছে</a></strong>
											<strong style="padding:0px 10px;color: green !important; "><span
													style="font-size:85% !important;" class="scroll-notice-link"> ২০২২
													শিক্ষাবর্ষে থেকে মূল ভবন (ব্লক-সি, মিরপুর-১০) এ প্লে-গ্রুপ থেকে
													ইংলিশ ভার্সন চালু করা হয়েছে। সকল অভিভাবকগণ
													আমন্ত্রীত।</span></strong>
										</p>
									</marquee>
								</h4>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid padding-8">
			<div class="row">

				<div class="col-sm-8 col-xs-12" style="margin-top:10px;">
					<div class="row">
						<div style=" position: relative;
    margin: 0px auto;
    top: 0px;
    left: 0px;
    width: 755px;
    height: 448.583px;
    overflow: hidden;
    visibility: visible;">
							<div id="jssor_1"
								style="position:relative;margin:0 auto;top:0px;left:0px;width:600px;height:350px;overflow:hidden;visibility:hidden;">
								<!-- Loading Screen -->
								<div data-u="loading" class="jssorl-009-spin"
									style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
									<img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;"
										src="img/spin.svg" />
								</div>
								<div data-u="slides"
									style="cursor:default;position:relative;top:0px;left:0px;width:600px;height:350px;overflow:hidden;">

									<div class="item active">
										<img src="media/slide/11-01-2022-1641882891.jpg"
											alt="একাদশ শ্রেণিতে বিজ্ঞান ও ব্যবসায় শিক্ষা শাখায় ভর্তি  চলছে।"
											class="img-responsive slide-img">
									</div>
									<div class="item">
										<img src="media/slide/05-06-2020-1591369980.jpg" alt=""
											class="img-responsive slide-img">
									</div>
									<div class="item">
										<img src="media/slide/05-06-2020-1591370072.jpg" alt=""
											class="img-responsive slide-img">
									</div>
									<div class="item">
										<img src="media/slide/13-10-2021-1634136601.jpg"
											alt="২০২২ শিক্ষাবর্ষে প্লে-গ্রুপ থেকে নবম শ্রেণি পর্যন্ত বাংলা ও ইংলিশ ভার্সনে ভর্তি চলছে।"
											class="img-responsive slide-img">
									</div>
								</div><a data-scale="0" href="" style="display:none;position:absolute;">design web</a>
								<!-- Bullet Navigator -->
								<div data-u="navigator" class="jssorb072"
									style="position:absolute;bottom:16px;right:16px;" data-autocenter="1"
									data-scale="0.5" data-scale-bottom="0.75">
									<div data-u="prototype" class="i"
										style="width:24px;height:24px;font-size:12px;line-height:24px;">
										<svg viewbox="0 0 16000 16000"
											style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;">
											<circle class="b" cx="8000" cy="8000" r="6666.7"></circle>
										</svg>
										<div data-u="numbertemplate" class="n"></div>
									</div>
								</div>
								<!-- Arrow Navigator -->
								<div data-u="arrowleft" class="jssora073"
									style="width:40px;height:50px;top:0px;left:30px;" data-autocenter="2"
									data-scale="0.75" data-scale-left="0.75">
									<svg viewbox="0 0 16000 16000"
										style="position:absolute;top:0;left:0;width:100%;height:100%;">
										<path class="a"
											d="M4037.7,8357.3l5891.8,5891.8c100.6,100.6,219.7,150.9,357.3,150.9s256.7-50.3,357.3-150.9 l1318.1-1318.1c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3L7745.9,8000l4216.4-4216.4 c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3l-1318.1-1318.1c-100.6-100.6-219.7-150.9-357.3-150.9 s-256.7,50.3-357.3,150.9L4037.7,7642.7c-100.6,100.6-150.9,219.7-150.9,357.3C3886.8,8137.6,3937.1,8256.7,4037.7,8357.3 L4037.7,8357.3z">
										</path>
									</svg>
								</div>
								<div data-u="arrowright" class="jssora073"
									style="width:40px;height:50px;top:0px;right:30px;" data-autocenter="2"
									data-scale="0.75" data-scale-right="0.75">
									<svg viewbox="0 0 16000 16000"
										style="position:absolute;top:0;left:0;width:100%;height:100%;">
										<path class="a"
											d="M11962.3,8357.3l-5891.8,5891.8c-100.6,100.6-219.7,150.9-357.3,150.9s-256.7-50.3-357.3-150.9 L4037.7,12931c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3L8254.1,8000L4037.7,3783.6 c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3l1318.1-1318.1c100.6-100.6,219.7-150.9,357.3-150.9 s256.7,50.3,357.3,150.9l5891.8,5891.8c100.6,100.6,150.9,219.7,150.9,357.3C12113.2,8137.6,12062.9,8256.7,11962.3,8357.3 L11962.3,8357.3z">
										</path>
									</svg>
								</div>
							</div>
							<script type="text/javascript">jssor_1_slider_init();
							</script>
						</div>



					</div>
				</div>

				<div class="col-sm-4">
					<div class="row">
						<div class="video-box">
							<div class='embed-container'>
								<iframe width="560" height="315" src="" rel="0" frameborder="0"
									allowfullscreen></iframe>
							</div>
						</div>
						<div class="content-box">
							<marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">
								<a target="_blank" href=""><strong class="font-dark"><i class="fa fa-bell-o"></i> Public
										Results and Notice</strong></a>
							</marquee>
						</div>
						<div class="content-box">
							<marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">
								<a href="" target="_blank"><strong class="font-dark"><i class="fa fa-bell"></i> JSC 2020
										Roll Sheet</strong></a>
							</marquee>
						</div>
					</div>
				</div>
			</div>


			<!-- News & Events Section -->
			<div class="container-fluid padding-8">
				<div class="row">
					<div class="col-sm-8">
						<div class="row">
							<h4 class="common-title">Welcome to Glory School & College</h4>
							<div class="col-sm-12">
								<div class="row">
									<div class="box-shadow padding-10 margin-10">
										<div class="padding-10">
											We would like to extend a warm welcome to all new and returning visitors to
											our
											school website.Quality education is the key to nurturing talent, which is
											crucial for the development
											of individual and the society. We ensure quality education to nurture future
											generations.<br>Every day we work hand in hand with parents, teachers,
											educators and community
											members to improve Glory School & College's education system for students of
											all
											backgrounds and abilities. We are committed to create the best learning
											environment that is dynamic, caring, inspiring and satisfying for students,
											teachers
											and parents. <br>Our mission is to instill in our students the foundation
											necessary so that the
											students of pre-primary, primary, secondary and higher secondary can
											identify their
											strength and interest in the learning process and progress continuously. We
											strive
											to create ever better learning outcomes and secure futures for our students,
											based
											on a collaborative culture with shared values and a clear moral purpose.<br>
											We hope that our website provides you with a comprehensive introduction to
											our
											values, expectations and ways of working. <br>
											Thank you very much for your interest in our work.

										</div>
										<div class="col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
											<a href="" class="btn btn-primary margin-top5P"
												data-animate-scroll='{"alpha": "0","y":"50","duration": "1.75","scaleX": "0","scaleY": "0","ease": "Elastic.easeIn"}'>Read
												in Bangla</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<h4 class="common-title">Messages</h4>
							<div class="col-sm-12">
								<div class="row">

									<div class="box-shadow padding-10 margin-10">
										<div class="message-box flex">
											<img src="media/imgAll/15-0x6-2017-1497515919.jpg" alt=""
												class="img-responsive img-thumbnail message-box-img pull-left">
											<div class="message-box-text">
												<div class="message-box-title"><strong>Message From Chairman</strong>
												</div>
												<div class="message-box-name"><strong>MD. Sharaf
														Uddin<br>Chairman</strong></div>
												<span class="btn btn-xs btn-default read-more"><a
														href="message?messageid=101">read more</a></span>
											</div>
										</div>
									</div>

									<div class="box-shadow padding-10 margin-10">
										<div class="message-box flex">
											<img src="media/imgAll/24-09-2018-1537795928.jpg" alt=""
												class="img-responsive img-thumbnail message-box-img pull-left">
											<div class="message-box-text">
												<div class="message-box-title"><strong>Message From Principal</strong>
												</div>
												<div class="message-box-name"><strong>Professor Md. Ohidur Rahaman </br>
														Ex-Principal :<br>Principal</strong></div>
												<span class="btn btn-xs btn-default read-more"><a
														href="message?messageid=102">read more</a></span>
											</div>
										</div>
									</div>

									<div class="box-shadow padding-10 margin-10">
										<div class="message-box flex">
											<img src="media/imgAll/07-06-2017-1496811093.png" alt=""
												class="img-responsive img-thumbnail message-box-img pull-left">
											<div class="message-box-text">
												<div class="message-box-title"><strong>Why Study At Glory</strong></div>
												<span class="btn btn-xs btn-default read-more"><a
														href="details?id=2">read more</a></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News & Events Section -->
			<div class="container-fluid padding-8">
				<div class="row">
					<div class="col-sm-8">
						<div class="row">
							<h4 class="common-title">News & Events</h4>

							<div class="col-sm-4">
								<div class="row">
									<div class="content-box">
										<div class="event-box">
											<img src="media/imgAll/19-11-2019-1574161273.jpg" alt=""
												class="img-responsive event-box-img">
											<strong class="event-box-title btn full-width text-left margin-top-5">
												<b>HAPPY CLASS PARTY - 2019</b>
											</strong>
											<p>
												<strong>21, Nov, 2019</strong><br>
											<p>Class Party Program Will Be Held On
												21-11-2019&nbsp;at&nbsp;Branch&nbsp;Mirpur-10, Taltala &amp;&...
											</p>
											<div>
												<a href="" class="btn btn-warning full-width text-center">read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="row">
									<div class="content-box">
										<div class="event-box">
											<img src="media/imgAll/04-01-2021-1609762539.jpg" alt=""
												class="img-responsive event-box-img">
											<strong class="event-box-title btn full-width text-left margin-top-5">
												<b>Admission Going On Play-IX</b>
											</strong>
											<p>
												<strong>1, Nov, 2020</strong><br>
											<p>Admission Going On From Play Group to Class IX, Session 2021</p>...
											</p>
											<div>
												<a href="" class="btn btn-warning full-width text-center">read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="row">
									<div class="content-box">
										<div class="event-box">
											<img src="media/imgAll/04-01-2021-1609762865.jpg" alt=""
												class="img-responsive event-box-img">
											<strong class="event-box-title btn full-width text-left margin-top-5">
												<b>Victory Day</b>
											</strong>
											<p>
												<strong>16, Dec, 2020</strong><br>
											<p>Wishing Everyone a Great Victory Day</p>...
											</p>
											<div>
												<a href="" class="btn btn-warning full-width text-center">read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<h4 class="common-title">Notice</h4>
							<div class="col-sm-12">
								<div class="row">
									<div class="box-shadow padding-10 margin-10 overflow-hidden relative"
										style="height:343px !important;">
										<div class="microsoft">
											<p class="marquee">

												<a href="" target="_blank" class="notice-box margin-top-5">
													<span class="notice-date-box pull-left">
														<strong>
															28, Dec<br>
															<span class="text-justify font-md">2021</span>
														</strong>
													</span>
													<span class="notice-scrolling-title">
														Teacher Recruitment Oral Exam Schedule-2021
													</span>
												</a>

												<a href="" target="_blank" class="notice-box margin-top-5">
													<span class="notice-date-box pull-left">
														<strong>
															28, Dec<br>
															<span class="text-justify font-md">2021</span>
														</strong>
													</span>
													<span class="notice-scrolling-title">
														Teacher Recruitment Written Examination Result-2021
													</span>
												</a>

												<a href="" target="_blank" class="notice-box margin-top-5">
													<span class="notice-date-box pull-left">
														<strong>
															20, Dec<br>
															<span class="text-justify font-md">2021</span>
														</strong>
													</span>
													<span class="notice-scrolling-title">
														Teacher Recruitment Written Exam Notice-2021
													</span>
												</a>

												<a href="" target="_blank" class="notice-box margin-top-5">
													<span class="notice-date-box pull-left">
														<strong>
															28, Nov<br>
															<span class="text-justify font-md">2021</span>
														</strong>
													</span>
													<span class="notice-scrolling-title">
														Vaccine Registration Notice and Registration Procedure for Glory
														School and College Students
													</span>
												</a>

												<a href="" target="_blank" class="notice-box margin-top-5">
													<span class="notice-date-box pull-left">
														<strong>
															26, Nov<br>
															<span class="text-justify font-md">2021</span>
														</strong>
													</span>
													<span class="notice-scrolling-title">
														Teacher Recruitment-2021
													</span>
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News & Events Section -->
			<div class="container-fluid padding-8">
				<div class="row">
					<div class="col-sm-8">
						<div class="row">
							<h4 class="common-title">Achievements</h4>

							<div class="col-sm-4">
								<div class="row">
									<div class="content-box">
										<div class="event-box">
											<img src="media/imgAll/24-09-2017-1506279946.jpg" alt=""
												class="img-responsive event-box-img">
											<strong class="event-box-title btn full-width text-left margin-top-5">
												<b>PSC Achievement</b>
											</strong>
											<p>
												<strong>13, Jun, 2019</strong><br>

											</p>
											<div>
												<a href="" class="btn btn-warning full-width text-center">read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="row">
									<div class="content-box">
										<div class="event-box">
											<img src="media/imgAll/24-09-2017-1506279762.jpg" alt=""
												class="img-responsive event-box-img">
											<strong class="event-box-title btn full-width text-left margin-top-5">
												<b>JSC Achievement</b>
											</strong>
											<p>
												<strong>4, Jun, 2019</strong><br>

											</p>
											<div>
												<a href="" class="btn btn-warning full-width text-center">read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="row">
									<div class="content-box">
										<div class="event-box">
											<img src="media/imgAll/24-09-2017-1506279915.jpg" alt=""
												class="img-responsive event-box-img">
											<strong class="event-box-title btn full-width text-left margin-top-5">
												<b>S.S.C & H.S.C Achievement</b>
											</strong>
											<p>
												<strong>28, May, 2019</strong><br>

											</p>
											<div>
												<a href="" class="btn btn-warning full-width text-center">read more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="fb-root"></div>
					<script>(function (d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
					<div class="col-sm-4">
						<div class="row">
							<h4 class="common-title">Facebook</h4>
							<div class="col-sm-12">
								<div class="row">
									<div class="box-shadow padding-10 margin-10">
										<div class="row slideanim">
											<div class="">
												<div class="col-xs-12">
													<div class="fb-page" href="" data-tabs="timeline" data-height="200"
														data-small-header="false" data-adapt-container-width="true"
														data-hide-cover="false" data-show-facepile="true">
														<blockquote href="/" class="fb-xfbml-parse-ignore"><a href="/"
																target="_blank">gloryschoolbd</a></blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid padding-8">
				<div class="row">
					<div class="col-sm-4">
						<div class="row">
							<h4 class="common-title">Latest Photo Album</h4>
							<div class="col-sm-12">
								<div class="row">
									<div class="">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-6 ">
													<div class="row">
														<div class="box-shadow padding-10 margin-10 ">
															<a href="">
																<img src="media/photoGallery/18-10-2017-1508309823_MG_1275.JPG"
																	alt="" class="img-responsive height-100 width-200">
															</a>
														</div>
													</div>
												</div>
												<div class="col-sm-6 ">
													<div class="row">
														<div class="box-shadow padding-10 margin-10 ">
															<a href="">
																<img src="media/photoGallery/18-10-2017-1508309458DSC_0878.JPG"
																	alt="" class="img-responsive height-100 width-200">
															</a>
														</div>
													</div>
												</div>
												<div class="col-sm-6 ">
													<div class="row">
														<div class="box-shadow padding-10 margin-10 ">
															<a href="">
																<img src="media/photoGallery/18-10-2017-1508308781IMG_3846.JPG"
																	alt="" class="img-responsive height-100 width-200">
															</a>
														</div>
													</div>
												</div>
												<div class="col-sm-6 ">
													<div class="row">
														<div class="box-shadow padding-10 margin-10 ">
															<a href="">
																<img src="media/photoGallery/18-10-2017-1508310198Class Party.jpg"
																	alt="" class="img-responsive height-100 width-200">
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="row">
							<h4 class="common-title">Latest Video</h4>
							<div class="col-sm-12">
								<div class="row">
									<div class="">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-6">
													<div class="row">
														<div class="video-box ">
															<div class="embed-container-img">
																<a href=""><img
																		src='http://img.youtube.com/vi/phvrnmLjECI/0.jpg'
																		class='img-responsive'></a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="row">
														<div class="video-box ">
															<div class="embed-container-img">
																<a href=""><img
																		src='http://img.youtube.com/vi/phvrnmLjECI/0.jpg'
																		class='img-responsive'></a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="row">
														<div class="video-box ">
															<div class="embed-container-img">
																<a href=""><img
																		src='http://img.youtube.com/vi/phvrnmLjECI/0.jpg'
																		class='img-responsive'></a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="row">
														<div class="video-box ">
															<div class="embed-container-img">
																<a href=""><img
																		src='http://img.youtube.com/vi/phvrnmLjECI/0.jpg'
																		class='img-responsive'></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<h4 class="common-title">Visitor Statistics</h4>
							<div class="col-sm-12 margin-top-10">
								<div class="box-shadow">

									<!-- <ul class="list-unstyled">
	<li> Now Online Visitors - <b>2</b> </li>
	<li>Today Total Visitors - <b>15</b> </li>
	<li> Yesterday Total Visitors - <b>58</b> </li>
	<li> Weekly Total Visitors - <b>73</b> </li>
	<li> Monthly Total Visitors - <b>724</b> </li>
	<li> Yearly Total Visitors - <b>3260</b> </li>
</ul> -->
									<!-- <div class="col-xs-12">
	<div class="row">
		<div class="col-xs-12"> -->
									<ul class="list-group">
										<li class="list-group-item"><strong>Online : </strong><b>2</b></li>
										<li class="list-group-item"><strong>Today : </strong><b>15</b></li>
										<li class="list-group-item"><strong>Yesterday : </strong><b>58</b></li>
										<li class="list-group-item"><strong>Weekly : </strong><b>73</b></li>
										<li class="list-group-item"><strong>Monthly : </strong><b>724</b></li>
										<li class="list-group-item"><strong>Yearly : </strong><b>3260</b></li>
									</ul>
									<!-- </div>
			</div>
		</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- edn main content panel -->

		<div class="layer-color font-light">
			<footer class="container">
				<div class="row">
					<div class="footer-box">
						<div class="col-sm-4">
							<h4>Important Links</h4>
							<ul class="list-unstyled margin-bottom11">
								<li><a href="" target="_blank"><i class="fa fa-anchor" aria-hidden="true"></i> Education
										Board</a></li>
								<li><a href="" target="_blank"><i class="fa fa-anchor" aria-hidden="true"></i> Dhaka
										Education Board</a></li>
								<li><a href="" target="_blank"><i class="fa fa-anchor" aria-hidden="true"></i> Ministry
										of Education</a></li>
								<li><a href="" target="_blank"><i class="fa fa-anchor" aria-hidden="true"></i>
										Banbeis</a></li>
								<li><a href="" target="_blank"><i class="fa fa-anchor" aria-hidden="true"></i>
										Directorate of Secondary &amp; Higher Education</a>
								</li>
								<li><a href=""><i class="fa fa-anchor" aria-hidden="true"></i> Primary school
										e-management</a></li>
							</ul>
						</div>
						<!-- <div class="col-sm-4 text-center">
							<a href="home" class="footer-logo-link">
								<img src="media/icon/bofpsc_logo.png" class="img-responsive footer-logo-img"  alt="LOGO">
								<div><strong>BOFCPSC</strong></div>
							</a>
						</div> -->
						<div class="col-sm-4">
							<address>
								<h4>Our Address</h4>
								<p><strong>Glory School & College</strong><br>House-07, Road-08, Block-c,
									MIrpur-10,<span> Dhaka, Bangladesh.</span> <br><span title="phone">Tel:
										02-48034925</span><br> <span> Mobile: 01715537311</span><br><span
										title="email">Email: info@glorycollege.edu.bd</span></p>
							</address>
						</div>
						<div class="col-sm-4">
							<address>
								<h4>Our Branches</h4>
								<p>
									<strong>Branch - 1</strong><br>
									<span>129 & 134/D, West Kafrul, Ser-E-Bangla Nagar, Taltala, </span><br>
									<span> Dhaka-1207, Bangladesh.</span><br>
									<span>Tel:02-48114299, 55025216</span><br>
									<span> Mobile: +880 1305-277750, +880 01719151840</span><br>
									<span> Email: info@glorycollege.edu.bd</span>
								</p>
								<p>
									<strong>Branch - 2</strong><br>
									<span> M-12, Section-14, Mirpur, Dhaka-1216, Bangladesh,</span><br>
									<span> (Opposite Police Convention Hall, Main Road).</span><br>
									<span> Tel: 02-48038618</span><br>
									<span> Mobile: 01926602901</span><br>
									<span> Email: info@glorycollege.edu.bd</span>
								</p>
							</address>
						</div>
					</div>
				</div>
			</footer>
			<div class="full-width bottom-layer">
				<div class="container text-center">
					© 2022 - Glory School & College, All Rights Reserved. Developed by <a href="" target="blank"
						style="color:yellow;">Desh Universal (Pvt.)
						Limited.</a> <a href="" target="_blank" style="color:snow;"> Like us on <span
							style="color:yellow;">Facebook</span></a>
				</div>
			</div>
		</div>
</body>
<script src="js/jquery.3.1.1.js"></script>
<script src="js/bootstrap.3.3.7.js"></script>
<script src="js/jssor.slider-21.1.5.mini.js"></script>
<script src="js/home-slider.js"></script>

<script>
	// style.css animation effect js part
	$(window).scroll(function () {
		$(".slideanim").each(function () {
			var pos = $(this).offset().top;

			var winTop = $(window).scrollTop();
			if (pos < winTop + 600) {
				$(this).addClass("slide");
			}
		});
	});
</script>

</html>
